.chart {
    background-color: #ffffff;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
 
.chart rect {
	stroke: white;
    fill: steelblue;
}
 
.axis {
    shape-rendering: crispEdges;
}
 
.x.axis line {
    stroke: black;
}
 
.y.axis line {
    stroke: black;
}
 
.axis text {
    font-size: 12px;
}